/* CSS Document */

/* General */
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
img {
    max-width: 100%;
}
/* Layout */
.bdy {
    height: 100%;
    background-image: url("../images/circles-light.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.container {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}
.navFlex {
    display: flex;
    justify-content: space-between;
}
.row {
    width: 100%;
}
.site-main {
    display: flex;
    flex-direction: row;
}
.flex-grid {
    display: flex;
}

img {
    width: 90%;
}
.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.px-1 {
    padding-right: 1.8rem;
    padding-left: 1.8rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-1 {
    margin-top: 1.1rem;
}
.my-08 {
    margin-top: 1.1rem;
    margin-bottom: 1rem;
}
.mx-1{
    margin-right: 1.8rem;
    margin-left: 1.8rem;
}
.fixed {
    position: fixed;
}
hr {
    color: grey;
    opacity: .4;
    margin: 23px 0;
}
.w-50 {
    width: 50%
}
/* Site Fonts */
.hdin-fnts {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#side_bar .fa {
    font-size: 3rem !important;
    float: left;
    padding-right: 7%;
}
/* Site Colors */ 
/* Teal color (used for headings and backgrounds) */

.red {
    color: #f00;
}
.teal {
    color: #4aaaa5;
}
.tealbg {
    background-color: #4aaaa5;
}
/* Regular font color (used for paragraphs and all text besides the headings) */
.regular {
    color: #777777;
}
/* Main header background color, Main content background color */
.whitebg {
    background-color: #ffffff;
}
.white-text {
    color: #ffffff;
}
/* Main header border color */
.greyBorder {
    border-bottom: 2.5px solid #cccccc;
}
/* Main content border color */
.whiteishBorder {
    border: 1px solid #dddddd;
}
/* Footer background color */
.greybg {
    background-color: #666666;
}
/* Typography */
.t-1 {
    font-size: 1.2rem;
}
.title-3 {
    font-size: 1.4rem;
}
.center-text {
    text-align: center;
}
.display-1-8 {
    font-size: 1.8rem;
}
.b-800 {
    font-weight: 800;
}
.b-600 {
    font-weight: 600;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
#main p {
    text-align: justify;
    padding: .6rem 0;
    line-height: 1.4rem;
}
/* Header */

nav {
    position: absolute;
    right: 23px;
}
.topnav {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
}
.topnav span.lnks:hover {
    color: #4aaaa5;
    border-bottom: 1px solid#4aaaa5;
}
.topnav span.dev {
    padding: 1.4rem;
}
#logo {
    height: 55px;
}
#main_nav a.active {
    color: #4aaaa5;
}
.mbl-icon{
    display: none;
}
/* Main */
.rounded-corners {
    border-radius: 8%;
}
.port_img {
    float: left;
    padding-right: 19px;
}
#interests {
    margin: 1.5rem .2rem 2rem 1rem;
}
#interests li {
    margin: 1rem .2rem;
}
.port_title {
    color: #fff;
    background-color: #4aaaa5b3;
    padding: 16px 11px;
    vertical-align: middle;
    position: absolute;
    z-index: 2;
    bottom: 29px;
    width: 231px;
    left: 14px;
}
/* Sidebar */
.social_links{
    display: flex;
}
/* Forms */
label {
    display: block;
    margin: 16px 0 5px 0 !important;
}
input {
    width: 98%;
    height: 26px;
    padding-left: .4rem
}
textarea {
    width: 98%;
    padding-top: .3rem;
    padding-left: .4rem;
    border: .9px solid #ccc;
}
button {
    padding: .5rem 1.5rem;
    font-size: 1rem;
    margin-top: 18px;
    border: none;
}
/* Footer */
#footer {
    border-top: .5rem solid #4aaaa5;
    color: #c8cccc;
}

/* General Rules End */
/*Extra small devices (landscape phones, less than 575px) */
@media (max-width: 575px) {
    .social_links{
        justify-content: center;
    }
}
/*Extra small devices (landscape phones, greater than 575px) */
@media (min-width: 575px) {
    .social_links{
        justify-content: flex-start;
    }
}



/*Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
#main {
    width: 100%;
    display: block;
    flex-grow: 1;
}
.display-1-8 {
    font-size: 1.5rem;
}
.site-main {
    display: flex;
    flex-direction: column;
}
#side_bar {
    height: 1%;
    margin-top: 2rem;
}
#logo {
    flex-shrink: 0;
    width: 43%;
    height: 55px;
    padding: 2rem 1.2rem .2rem 1.2rem;
}
.topnav .icon {
    display: block;
    font-size: 2rem;

    position: relative
}
.topnav .open{
    display: block;
}
.topnav.closed{
    display: none;
}
.topnav {
    font-size: 1.3rem;
    height: 0;
    display: flex;
    flex-direction: column;
}
.topnav li {
    margin-bottom: 2rem;
}
.topnav span.dev {
    display: none;
}
#hamburger {
    display: block;
    font-size: 2.8rem;
    position: relative;
    top: 1rem;
    cursor: pointer;
}
#cross {
    font-size: 5rem;
    display: none;
    left: 2.7rem;
    top: 1.1rem;
    position: relative;
}

}

/*Small devices (landscape phones, greater than 768px) */
@media (min-width: 767px) {

.mbl-icon{
    display: none;
}
.topnav{
    height: inherit;
}
.site-main {
    display: flex;
    flex-direction: row;
}
#side_bar {
    width: 50%;
    height: 1%;
    margin-left: 2rem;
}
#logo {
    width: 25%;
    padding: 2rem 1.2rem .2rem 1.2rem;
}
}
